aiofiles==0.8.0
anyio==3.6.1
cachetools==5.2.0
certifi==2022.6.15
charset-normalizer==2.1.0
h11==0.12.0
httpcore==0.14.7
httptools==0.4.0
httpx==0.22.0
idna==3.3
multidict==6.0.2
python-dotenv==0.20.0
pytimeparse==1.1.8
rfc3986==1.5.0
sanic==22.3.1
sanic-routing==22.3.0
sniffio==1.2.0
typing-extensions==4.3.0
ujson==5.4.0
uvloop==0.16.0
websockets==10.3
