aiofiles==0.8.0
anyio==3.6.1
attrs==22.1.0
cachetools==5.2.0
certifi==2022.6.15
charset-normalizer==2.1.0
h11==0.12.0
httpcore==0.15.0
httptools==0.4.0
httpx==0.23.0
idna==3.3
iniconfig==1.1.1
multidict==6.0.2
packaging==21.3
pluggy==1.0.0
py==1.11.0
pyparsing==3.0.9
pytest==7.1.2
pytest-asyncio==0.19.0
pytest-httpx==0.21.0
python-dotenv==0.20.0
pytimeparse==1.1.8
requests==2.28.1
responses==0.21.0
rfc3986==1.5.0
sanic==22.3.1
sanic-routing==22.3.0
sniffio==1.2.0
tomli==2.0.1
ujson==5.4.0
urllib3==1.26.11
uvloop==0.16.0
websockets==10.3
